@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
	--font-family: "Ubuntu", sans-serif;
	--font-size: 16px;
	--font-small: 13px;
	--spacer: 25px;
	--spacer-M: calc(var(--spacer) * 1.5);
	--spacer-L: calc(var(--spacer) * 2);
	--spacer-XL: calc(var(--spacer) * 3);
	--spacer-XXL: calc(var(--spacer) * 4);
	--secondary: #dfe9c1;
	--primary: #7287ae;
	--acctent: #f2ce94;
	--light: #ffffff;
	--box-shadow: #c7c7c9;
	--text-color: #4f4e4e;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-size: 16px;
	font-family: var(--font-family);
	width: 100%;
	background-color: var(--secondary);
	overflow-x: hidden;
	transition: 1s all ease-in;
}

.container {
	width: 80%;
	margin: 0 auto;
}
.btn {
	padding: 20px 55px;
	border-radius: 50px;
	text-transform: uppercase;
	font-size: 1.5rem;
	font-weight: 500;
	background-color: var(--primary);
	border: 2px solid var(--primary);
	color: white;
	cursor: pointer;
}
.btn:focus {
	outline: none;
}
.newBG {
	background-color: #fc8f50 !important;
}

/******* Nav ********/

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 9vh;
	background-color: var(--primary);
	width: 100%;
}
.logo {
	padding: 10px;
	cursor: pointer;
	display: flex;
	background-color: var(--primary);
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 30%;
	list-style: none;
}
.nav-links a {
	color: var(--light);
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}

/****** Nav Burger div *****/
.burger {
	display: none;
}
.burger div {
	width: 25px;
	height: 3px;
	background-color: var(--light);
	margin: 5px;
	transition: all 0.3s ease;
}
/******* Header ********/

header {
	background: var(--primary);
	padding: 50px 0 0 0;
	position: relative;
}

hgroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: var(--primary);
	z-index: -4;
	padding: 20px 0;
	color: var(--light);
}

hgroup p {
	margin: 30px auto;
	line-height: 30px;
	background: var(--primary);
	align-items: center;
}

hgroup h1 {
	font-size: 4rem;
	font-weight: 700;
	background: var(--primary);
	color: var(--light);
	align-items: center;
}

.dots {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 10rem;
	z-index: 10;
	position: absolute;
	height: 8rem;
}

.dot-wrapper {
	flex: 0 0 20%;
}
.dot {
	display: block;
	height: 8px;
	width: 8px;
	background-color: white;
	margin: 10px;
	border-radius: 50%;
}

.one {
	top: 50%;
	left: 15%;
}
.two {
	top: 50%;
	right: -2%;
	rotate: -90deg;
}
.waves {
	position: relative;
}
.wave-big {
	position: absolute;
	z-index: 1;
}
.yellow-wave {
	z-index: -3;
}
.line {
	position: absolute;

	right: 0;
	top: 100px;
	width: 50%;
	z-index: -0;
}
/* POPULAR MENU */
.popular-menu {
	padding: 0px 0 100px 0;
	text-align: center;
	position: relative;
}
.popular-menu .container {
	text-align: left;

	margin: 50px auto 100px auto;
}
.popular-menu h2 {
	color: var(--primary);
	font-size: 3rem;
	text-align: center;
	text-transform: uppercase;
}
.menu-item {
	padding: 0 30px;
}
.card {
	background-color: white;
}
.card img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}
.card-text {
	padding: 30px 20px;
	color: var(--text-color);
}
.card-text h3 {
	font-size: 2rem;
	margin-bottom: 20px;
}
.card-text p {
	font-size: 1.2rem;
	margin-bottom: 20px;
}
p.price {
	font-size: 1.5rem;
	font-weight: 500;
}
.three {
	right: 30px;
	bottom: 10%;
}
.popular-menu .dot {
	background-color: var(--primary);
}
.blog {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog-article {
	background-color: white;
	display: flex;

	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
	height: 100%;
	/* transform: translateX(-150%); */
}
.remove {
	transform: translateX(0%) !important;
	transition: 2s all ease-in-out;
}

.featured-img {
	flex: 0 0 30%;
	position: relative;
	height: 100%;
}

.featured-img img {
	width: 100%;
	height: 100%;

	display: block;
}

.blog .text {
	flex: 0 0 70%;
	padding: 35px;
}
.blog .text h3 {
	margin: 0 auto;
	font-size: 3.2rem;
	margin-bottom: 25px;
}
p.meta {
	font-size: 1.2rem;
	color: var(--primary);
	text-align: left;
	margin-bottom: 20px;
}
.blog .text p.content {
	font-size: 1.3rem;
	margin-bottom: 50px;
}
.blog article:nth-child(even) .featured-img {
	order: 1;
}
/* order */

.order {
	background-color: var(--primary);
	color: white;
	padding: 50px 0 100px 0;
}
.order h2 {
	font-size: 3rem;
	text-align: center;
	padding: 30px 0;
}
.order .container {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}
.order article {
	flex: 0 0 30%;
	text-align: center;
}
.order article h3 {
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	font-size: 3rem;
	border-radius: 50%;
	color: var(--primary);
	background-color: white;
	margin-bottom: 30px;
}
.order article h4 {
	font-size: 2.5rem;
	margin-bottom: 30px;
}
.order article p {
	font-size: 1.2rem;
	line-height: 1.5;
}

/* DELIVERY */
.delivery {
	background-image: url(img/bg-img-1.png);
	background-position: center;
	background-size: cover;
	position: relative;
	padding: 100px 0;
	text-align: center;
	color: var(--primary);
	transition: 1s all ease-in-out;
}
.delivery h2 {
	font-size: 4.5rem;
	margin-bottom: 50px;
}
.delivery p {
	margin-bottom: 50px;
	font-size: 1.7rem;
	width: 50%;
	margin: 0 auto 100px auto;
}
.getInTouch {
	position: absolute;
	background-color: var(--primary);
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: 1s all ease-in-out;
	padding: 50px 0;
	bottom: 0px;
	right: -100%;

	height: 100%;
	width: 100%;
}
.animate {
	transform: translateX(-100%);
	transition: 1s all ease-in-out;
}
.getInTouch .headline {
	width: 90%;
	margin: 30px auto 30px auto;
}
.getInTouch .headline h3 {
	display: block;
	font-size: 2.4rem;
}
.getInTouch a {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background-color: var(--primary);
	/* border: 2px solid var(--primary); */
	margin-left: auto;
	margin-top: -50px;
	margin-right: -20px;
	transition: 0.3s all ease-in-out;
}
.getInTouch a:hover {
	background-color: white;
	color: var(--primary);
	border: 1px solid var(--primary);
}
.getInTouch form {
	padding: 0 0 30px 0;
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.getInTouch form input {
	flex: 0 0 45%;
	margin-bottom: 20px;
	background-color: var(--primary);
	background-color: white;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid var(--primary);
	color: var(--primary);
	font-size: 1rem;
	padding: 5px 10px;
}
.getInTouch form textarea {
	flex: 0 0 100%;
	background-color: var(--primary);
	background-color: white;
	border: 1px solid var(--primary);
	color: var(--primary);
	font-size: 1rem;
	padding: 10px;
}
.getInTouch form textarea::placeholder {
	font-family: var(--font-family);
}
.getInTouch form input::placeholder {
	font-family: var(--font-family);
}
.getInTouch form .btn {
	border: 2px solid white;
	display: block;
	margin: 30px auto 0 auto;
}

.getInTouch input:focus {
	outline: none;
}
.getInTouch textarea:focus {
	outline: none;
}

/* testimonials */
.about {
	padding: 100px 0;
	text-align: center;
	color: var(--primary);
	position: relative;
}
.about .dot {
	background-color: var(--primary);
}
.four {
	top: -65px;
	right: 30px;
}
.about h2 {
	font-size: 3rem;
	margin-bottom: 40px;
}
.about .item {
	width: 50%;
	margin: 0 auto 10px auto;
}
.about .item h4 {
	font-size: 1.7rem;
	margin-bottom: 20px;
}
.about .item p {
	font-size: 1.3rem;
}
.about .owl-carousel {
	margin-bottom: 40px;
}

.about p.lead {
	font-weight: 700;
	font-size: 2.2rem;
	margin-bottom: 40px;
}
.socials {
	font-size: 3rem;
	width: 35%;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-around;
}
.socials i {
	color: var(--secondary);
	background-color: var(--primary);
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
}

/************ Daily ***************/

.daily {
    background: var(--secondary);
/*    height: 50vh;*/
}
.daily .container article {
    display: flex;
    flex-direction: column;
    margin: 100px;
    box-shadow: 2px 2px 15px gray;
} 
    
.daily .dailyPic {
    background-image: url(img/blog-img-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
/*    overflow-y: hidden;*/
    height: 90vh;
}

.daily .dailyDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: var(--light);
} 
.daily .dailyDescription h2 {
    text-transform: uppercase;
    font-size: 3rem;
	margin-bottom: 50px;
    color: var(--primary);
}

.daily hr { 
  width: 100%;
  height: 30px; 
  border-style: solid; 
  border-color: var(--primary); 
  border-width: 1px 0 0 0; 
  border-radius: 20px;
    margin-bottom: 30px;
}

.daily hr:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: var(--primary);
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.daily p {
    text-align: justify;
    color: var(--primary);
    margin-bottom: 15px;
}

.daily .btn {
    margin-top: 30px;
    font-size: 1.3rem;
}

/************ Footer  *************/
footer {
	background: var(--primary);
	color: white;
}
footer .container {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 50px 20px 50px;
}
footer a {
	color: white;
	text-decoration: none;
}
footer .container article {
	flex: 0 0 20%;
}

footer .container article:last-child {
	flex: 0 0 40%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container article:last-child iframe {
	flex: 0 0 100%;
}
footer .container article:last-child iframe {
	display: block;
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

footer h3 {
	font-size: 1.4rem;
	margin-bottom: 20px;
}
footer p,
footer a {
	font-size: 1.2rem;
}
footer .container article a {
	display: block;
	margin-bottom: 10px;
}
footer p.copy {
	text-align: center;
	padding: 10px 0;
}

/* menu */
.menu {
	padding: 100px 0;
}
.menu h2 {
	text-align: center;
	font-size: 4.5rem;
	font-weight: 600;
	color: var(--primary);
	letter-spacing: 2px;
	margin-bottom: 100px;
}
.row {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.menu .container .row article {
	flex: 0 0 33%;
	padding: 30px;
}
@media screen and (max-width: 1667px) {
	.blog .text h3 {
		font-size: 2.8rem;
		margin-bottom: 20px;
	}
	p.meta {
		font-size: 1rem;
	}
	.blog .text p.content {
		font-size: 1.2rem;
		margin-bottom: 30px;
	}
	.blog .text {
		padding: 20px 20px 20px 35px;
	}
	.btn {
		padding: 15px 50px;
		border-radius: 50px;
		text-transform: uppercase;
		font-size: 1.2rem;
	}
}
@media screen and (max-width: 1343px) {
	header {
		padding: 40px 0 0 0;
	}
	hgroup {
		padding: 30px 0 0 0;
	}
	hgroup p {
		margin: 30px auto;
		line-height: 30px 0 0 0;
		background: var(--primary);
		align-items: center;
	}

	hgroup h1 {
		font-size: 3.5rem;
		font-weight: 700;
		background: var(--primary);
		color: var(--light);
		align-items: center;
	}
	.line {
		position: absolute;
		right: 0;
		top: 20%;
		width: 50%;
	}
	.blog .text h3 {
		font-size: 2.3rem;
		margin-bottom: 20px;
	}
	p.meta {
		font-size: 1rem;
		margin-bottom: 15px;
	}
	.blog .text p.content {
		font-size: 0.95rem;
		margin-bottom: 20px;
	}
	.blog .text {
		padding: 20px 20px 20px 35px;
	}
	.btn {
		padding: 10px 45px;
		border-radius: 50px;
		text-transform: uppercase;
		font-size: 1rem;
	}
	.socials {
		width: 40%;
	}
}
@media screen and (max-width: 1105px) {
	.order h2 {
		font-size: 2.5rem;
	}
	.order article h3 {
		font-size: 2.3rem;
	}
	.order article h4 {
		font-size: 2rem;
	}
	.order p {
		font-size: 1rem;
	}
	/* blog */

	.blog .text h3 {
		font-size: 1.8rem;
		margin-bottom: 10px;
	}
	p.meta {
		font-size: 0.92rem;
		margin-bottom: 10px;
	}
	.blog .text p.content {
		font-size: 0.95rem;
		margin-bottom: 20px;
	}
	.blog .text {
		padding: 0px 10px 10px 25px;
	}
	.delivery h2 {
		font-size: 4rem;
	}
	.delivery p {
		font-size: 1.3rem;
	}
	.btn {
		padding: 10px 45px;
		border-radius: 50px;
		text-transform: uppercase;
		font-size: 1rem;
	}
	.socials {
		width: 55%;
	}
}

@media screen and (max-width: 957px) {
	.container {
		width: 100%;
		margin: 0 auto;
	}
}
@media (max-width: 890px) {
	.getInTouch form {
		width: 80%;
	}
}

@media screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}

	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: var(--primary);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}

	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
		cursor: pointer;
	}

	nav .active {
		transform: translateX(0%);
	}
	.featured-img {
		flex: 0 0 50%;
	}
	.blog .text {
		flex: 0 0 50%;
	}
	.socials {
		font-size: 2.5rem;
	}
	.socials i {
		height: 80px;
		width: 80px;
		line-height: 80px;
		border-radius: 50%;
	}

	footer .container article {
		flex: 0 0 35%;
	}
	footer .container article:last-child {
		flex: 0 0 100%;
		margin-top: 50px;
	}
}

@media (max-width: 689px) {
	.blog-article {
		flex-wrap: wrap;
	}
	.featured-img {
		flex: 0 0 100%;
		height: 250px;
	}
	.featured-img img {
		object-fit: cover;
		margin: 0 auto;
	}
	.blog .text {
		flex: 0 0 100%;
	}
	.blog article:nth-child(even) .featured-img {
		order: 0;
	}
	.blog .text h3 {
		font-size: 2rem;
		margin-bottom: 25px;
	}
	p.meta {
		font-size: 1rem;
		margin-bottom: 10px;
	}
	.blog .text p.content {
		font-size: 1rem;
		margin-bottom: 20px;
	}
	.blog .text {
		padding: 30px;
	}
	.btn {
		padding: 15px 50px;
		font-size: 1.2rem;
		display: block;
		margin: 0 auto;
	}
	.order article {
		flex: 0 0 100%;
		text-align: center;
		margin-bottom: 60px;
		padding: 0 60px;
	}
	.order article:last-child {
		margin-bottom: 0px;
		border: 2ps solid black;
	}
	.getInTouch .headline h3 {
		font-size: 2.2rem;
	}
}
@media (max-width: 550px) {
	.getInTouch .headline h3 {
		font-size: 1.8rem;
	}
	.getInTouch form {
		width: 95%;
	}
	.getInTouch form input {
		flex: 0 0 40%;
	}
	.getInTouch a {
		font-size: 1rem;
		width: 20px;
		height: 20px;
		line-height: 20px;
		margin-top: -30px;
	}
}
@media (max-width: 450px) {
	.getInTouch form {
		width: 80%;
		align-items: center;
		justify-content: center;
	}
	.getInTouch form input {
		flex: 0 0 100%;
	}
}
/****** Animation ******/
@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}
.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}
